label, input, textarea {
    margin-bottom: 10px;
}
h2 {
    color: #fff; /*color del texto del titulo*/
    background-color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}