
h2 {
  color: #fff; /*color del texto del titulo*/
  background-color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

p,
li {
  color: #555; /* Color del texto de los párrafos */
  line-height: 1.6; /* Altura de línea de los párrafos */
  margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-color: #888; /* Borde oscuro para tablas */
}

table,
th,
td {
  border: 1px solid #888;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #777; /* Fondo oscuro para encabezados de tabla */
  color: #fff;
}
